* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color:#000;
    line-height: 20px;
}
h1 {
    color: #fff;
}
h1,
h2 {
    text-transform: uppercase;
}

h2 {
    font-weight: bold;
}

h5 {
    font-weight: 200;
}

.subtitulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.subtitulos .traco {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 4px;
    width: 60px;
    background-color: #2011ac;
}

section {}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url("/assets/img/fundo.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
    height: 100vh;
}

#navbarSupportedContent {
    float: left !important;
}

.banner {
    margin-top: 200px;
}

/*Section sobre*/
.sobre {
    padding: 200px 0px;
}

.sobre {
    background: url(/assets/img/sobreFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
}

/*Section serviço*/


#servico {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .3)), url("/assets/img/fronend-blog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card-sevico {

    padding: 10px;
}

.card-sevico img {
    margin-bottom: 30px;
}

.card-sevico h4 {
    margin-bottom: 15px;
}

/*section contato*/
#contato {
    background-color: #e6e6e6;
    padding-bottom: 100px;
}

.contato-detalhes {
    border-right: 1px solid #ccc;
}

.contato-mensagem {
    margin-left: 5%;
}

form input,
textarea {
    margin: 15px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #999;
    box-shadow: none;
    background-color: transparent;
    padding: 3px;
}

textarea {
    height: 100px;
}

/*section portifolio*/
.categories ul li a{
   border: 1px solid #d4d4d4;
    margin: 0px 5px;
    color: #999;
}
.categories .action, .categories li a:hover {
    background-color: #2011ac;
    color: #fff;
}

.projeto {
    height: 200px;
    width: 250px;
    margin: 10px;
    background-color: #000;
   
}




/*footer*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    height: 100%;
    background-color: #000;
    color: #fff;
}