/*configuraçoes gerais*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 1.5;
}

.text-subtitulo .traco {
    height: 2px;
    width: 80px;
    margin: auto;
    background-color: #000;
}

.servico {
    background-color: #ccc;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .5)), url("/assets/img/planoDeFundo.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
#navbarSupportedContent {
    float: left !important;
}

.banner {
    margin-top: 200px;
}

.sobre {
    padding: 200px 0px;
}

#servico {
    background-image: url(/assets/img/planoDeFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0px;
}
.sobre {
    background: url(/assets/img/sobreFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000;
}